html {
  font-size: 18px;
  box-sizing: border-box;
}

body {
  font-family: "Dank Mono";
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
  color: #7fdbca;
}

header a {
  color: #ffffffcc;
  font-size: 1rem;
}

header a:hover,
header a:focus {
  color: #ffffff;
}

footer i {
  font-size: 2.5rem;
}

.bg-dark {
  background-color: #000c1d !important;
}

.card {
  background-color: #011627 !important;
}

.sidebar {
  border-left: 1px solid #5f7e97;
}

.sidebar .list-group-item {
  background-color: transparent;
  text-align: left;
}

.sidebar .list-group-item.active {
  border-color: #5f7e97;
}

main .tab-content,
form {
  text-align: left !important;
}

.code-editor ul {
  padding: 0;
}

.code-editor li {
  color: #caece6;
  color: #cdebf7;
  list-style: none;
}
