@font-face {
  font-family: dank;
  src: url(fonts/Dank-Mono-Regular/6d0dca36f4b308f1b05ac34f8b18c8d7-2.ttf);
}

html {
  font-size: 18px;
  box-sizing: border-box;
}

body {
  font-family: "Dank Mono", dank;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
  color: #7fdbca;
}

p {
  color: #cdebf7;
}

header a {
  color: #ffffffcc;
  font-size: 1rem;
}

header a:hover,
header a:focus {
  color: #ffffff;
}

footer i {
  font-size: 2.5rem;
}

.bg-dark {
  background-color: #000c1d !important;
}

.card {
  background-color: #011627 !important;
}

.sidebar {
  border-left: 1px solid #5f7e97;
}

.sidebar .list-group-item {
  background-color: transparent;
  text-align: left;
}

.sidebar .list-group-item.active {
  border-color: #5f7e97;
}

main .tab-content,
form {
  text-align: left !important;
}

.code-editor ul {
  padding: 0;
}

.code-editor li {
  color: #cdebf7;
  list-style: none;
}

.headshot-wrapper {
  text-align: center;
}

.headshot {
  max-width: 150px;
  border-radius: 100%;
}

.code-editor {
  display: flex;
  margin-bottom: 1rem;
  min-height: 500px;
}

@media (max-width: 768px) {
  .code-editor .sidebar {
    order: -1;
    border: none;
    margin: 1rem auto;
  }
}

a,
.highlight {
  color: #7fdbca;
}
